*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family:Arial, Helvetica, sans-serif
}


h1{
    text-align: center;
    padding: 0.8em;
    

}

    



    
   

    


.calculator{
    display: grid;
    grid-template-columns:1fr 4fr 1fr ;
    grid-template-rows: repeat(8, 1fr);
    margin: auto;
    width: 50vw;
    height: 80vh;
    min-height: 50vh;
   
    



    button, #name, #empty, #m-empty,#b-empty{
        border-radius: 0%;
        border: 1px solid rgba(128, 128, 128, 0.366);
        background-color:#90b4ce;
       

      
    }

    

        .nums, #point {
        background-color:  #d2d2d1;
        &:hover{
            background-color: rgb(162, 195, 195);
        }
        
    }
    button:hover{
        background-color: rgb(162, 195, 195);
    }
    
  

    

    
    .operation-log{
        visibility: hidden;
        display: grid;
        grid-template-rows: 1fr 6fr;
        background-color: #d2d2d1;
        min-height: 20%;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);

        
    }

    
    
    .main{
        border: 1px solid rgba(128, 128, 128, 0.366);
        display: grid;
        grid-template-rows: repeat(2,2fr) 1fr;
        border-radius: 5px;
        box-shadow: 0 10px 10px  rgb(0 0 0 / 0.2);
        min-width: 30vw;
        min-height: 50vh;
        
        
    
    
        .top{
            display:grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-rows:repeat(3, 1fr);
            grid-template-rows: auto;
            
    
            #name, #res{
                text-align: center;
                border: 1px solid rgba(128, 128, 128, 0.366);
               
            }
            
            
            
        }
         .middle{
            display:grid;
            grid-template-columns:repeat(5, 1fr);
            grid-template-rows:repeat(3, 1fr);
            

            #api img ,#seintific img{
                width: 40%;
                height: 40%;
            }
         }
    
    
        
         .bottom{
            display:grid;
            grid-template-columns:repeat(5, 1fr);
            grid-template-rows:2fr 1fr;
        
         }
    
         #empty{
             grid-row: 1/3;
             grid-column: 1/2;
             border: 1px solid rgba(128, 128, 128, 0.366);
         }
         #eq{
            grid-row: 1/3;
            grid-column: 5/6;
           
            
         }
         #b-empty{
            border: 1px solid #80808072;
            grid-column: 2/5;
            
    
         }
         
        
    }
    
    
    .sci{
        visibility: hidden;
        text-align: center;
        background-color:rgb(162, 195, 195);
        display: grid;
        min-height: 20%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,2fr) 1fr;
        grid-template-areas:"top"
                            "middle"
                            "bottom";

                            border-radius: 5px;
                            box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
        
        
    
       
    
        .top{
            
            
            grid-area:top ;
            min-height: 25%;

            #empty{
                grid-row: 2/4;
            }

            
        }
    
        .middle{
            grid-area: middle;
            display: grid;
            grid-template-columns: 1fr 1fr;
            min-height: 40%;
            
            
        }

        .sciOperators{
            background-color:rgb(162, 195, 195);

            &:hover{
                background-color:#d2d2d1;
            }
        }

        #base2{
            grid-area: bottom;
            min-height: fit-content;
            border:transparent;
            

        }
        #pi{
            background-color: rgb(162, 195, 195);
            &:hover{
                background-color:#d2d2d1;
            }
        }
    
        
    }
  
}





@media(max-width:768px){
    .calculator{
        display: flex;
        flex-flow: column;

        width: 100vw;
        height: 80vh;
        padding: 7px;


        .operation-log{
            order: 3;
            
        }

        .main{
            height: 60%;
        }

        #res{
            display: flex;
            flex-direction: column;
        }

        
    }

.lightmode body{
    background-color: white;
}
    

    

    
}

.dark .nums{
    background-color: rgb(57, 57, 150);
    border-color: white ;
    color: white;
}

.dark button{
    background-color: rgb(91, 91, 91);
    border-color: white ;
    color: white;
}

.dark #name{
    background-color: rgb(91, 91, 91);
    border-color: white ;
    color: white;
}

.dark #empty{
    background-color: rgb(91, 91, 91);
    border-color: white ;
    color: white;
}

.dark #m-empty{
    background-color: rgb(91, 91, 91);
    border-color: white ;
    color: white;
}

.dark #b-empty{
    background-color: rgb(91, 91, 91);
    border-color: white ;
    color: white;
}

.dark #point{
    background-color: rgb(143, 148, 164);
    border-color: white ;
    color: white;
}

.dark .calculator{
    background-color: black;
    
  
}
.dark body{
    background-color: black;
}

.dark h1{
    color: white;
    background-color: black;
}





.dark .operation-log{
    background-color: rgb(174, 174, 174);
}

.dark .sci{
    background-color: rgb(174, 174, 174);
}


.light #res{
    background-color: rgb(252, 252, 137);
}

.light #mode{
    background-color: rgb(205, 167, 96);
}


.sciMode #seintific{
    background-color: rgb(205, 167, 96);
}

.ON #history{
    background-color: rgb(205, 167, 96);
}